.root {
    -fx-background-color: bisque;
}

.button {
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.button:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.button .danger {
    -fx-background-color: linear-gradient(orangered, red);
}

.button .misc {
    -fx-background-color: linear-gradient(aliceblue, azure);
}

.button .recommended {
    -fx-background-color: linear-gradient(lightgreen, green);
}

.titleBar#open {
    -fx-background-color: linear-gradient(green, darkgreen);
}

.titleBar#minimized {
    -fx-background-color: gray;
}

.appInterface {
    -fx-padding: 5 5 5 15;

    -fx-border-color: transparent transparent transparent darkgreen;
    -fx-border-width: 8px;
    -fx-border-insets: 15 15 0 -5;
    -fx-border-radius: 3 0 0 3;
}

.icon {
    -fx-font-family: FontAwesome;
    -fx-font-size: 20px;
}